/* PARTES EN COMÚN PARA LAS PAGINAS*/

body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

header{
    background-color: #41C9E2;
    padding: 20px;
}

main{
    background-color: #ACE2E1;
}

footer{
    background-color: #F7EEDD;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

footer img{
    height: 100px;
    width: 140px;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    }
/*CREAR FACHADA PAGINA INICIO*/

.caja{
    width: 1080px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 90px;
    right: 0;
}

nav ul{
    display: flex;
    width: 10%;
    margin-right: 10%;
}

nav li{
    display: inline;
    margin: 10px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

/*CREAR FORMULARIO PARA CONSULTA*/

